.Hero{
  display: grid;
}

.Hero-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7%;
}

.Hero-left{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 40%;
}

.Hero-left h1{
  text-align: left;
font-size: 52px;
color: rgb(16, 84, 16);
}

.Hero-left p{
  text-align: left;
  font-size: 28px;
  color: rgb(2, 11, 2);
  }

  .Hero-left span{
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: 160px;
align-items: center;
background-color: orange;
width: 40%;
height: 50px;
border-radius: 3px;
cursor: pointer;
  }

  .Hero-left a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
  }

  /* .Create-account span{
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.Hero-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-right: 10px;
}

.Hero-right img{
  width: 85%;
}


@media only screen and (max-width: 768px){
*{
  overflow-x: hidden;
}

  .Hero{
    display: inline-block;
  }
  .Hero-flex{
    display: block;
    width: 100%;
    margin-top: 7%;
    overflow-x: hidden;
  }

.Hero-right img{
    width: 100%;
  }

  .Hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
  }

  .Hero-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .Hero-left h1{
  text-align: center;
  font-size: 24px;
  color: rgb(16, 84, 16);
  }

  .Hero-left p{
    text-align: center;
    font-size: 18px;
    color: rgb(2, 11, 2);
    }

    .Hero-left span{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-items: center;
background-color: orange;
text-align: center;
width: 50%;
height: 50px;
border-radius: 3px;
cursor: pointer;
    }

}