.faq h5{
  text-align: center;
  color: orange;
}

.faq h1{
  text-align: center;
  color: rgb(7, 63, 7);
  font-weight: bold;
}

.Faq-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.Faq-left{
  display: block;
  width: 50%;
  margin-left: 100px;
}

.Faq-right{
  display: block;
  width: 50%;
}

.Faq-button{
width: 80%;
}

.DropDown{
  position: relative;
}

.Dropdown-items:target{
  /* position: absolute; */
  /* -webkit-transition: opacity 2.0s ease-in;  */
  transition-duration: 2.1s;
}

.DropDown li{
  text-align: start;
}


.DropDown button{
  width: 100%;
  background-color: rgb(241, 236, 236);
  color: orange;
  margin: 10px;
  height: 60px;
  border: none;
  border-radius: 3px;
}

@media only screen and (max-width: 768px){
  .Faq-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .Faq-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .Faq-right{
    display: block;
    width: 100%;
  }
  .Faq-button{
    width: 100%;
    }

    .DropDown button{
      width: 100%;
      background-color: rgb(241, 236, 236);
      color: orange;
      height: 60px;
      border: none;
      border-radius: 3px;
    }

    .faq h1{
      text-align: center;
      color: rgb(7, 63, 7);
      font-weight: bold;
      font-size: 14px;
    }
    

}

