*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* overflow-x: hidden; */
}

.Contacts{
  display: grid;
  width: 100%;
  vertical-align: top;
}

.Contacts-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.Contacts-left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  gap: 20px;
  width: 28%;
  height: 500px;
  margin-left: 100px;
  margin-top: 75px;
  vertical-align: top;
}

.box{
  background-color: rgb(255, 250, 250);
  width: 100%;
  height: 200px;
  padding: 10px;
}

.box img{
  width: 50px;  
}

.box{
  width: 150px;  
}

/* //////////////////////////////////////////////////////////// */

.Contacts-right{
  width: 50%;
  background-color: rgb(222, 219, 219);
  border: none;
  height: 400px;
  /* margin-top: 25px; */
  margin-right: 200px;
}

.Contacts form{
  margin-top: 10px;
}

input[type='text']{
  width: 47%;
  height: 50px;
  margin: 6px;
}

input[type='subject']{
  width: 95%;
  height: 50px;
}

.Contacts button{
  background-color: orange;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
  height: 50px;
  padding: 5px;
  font-weight: 600;
  border: none;
}

@media only screen and (max-width: 768px){

  .Contacts{
    display: grid;
    width: 100%;
  }

  .Contacts-flex{
    display: block;
  
  }

  .Contacts-left{
    display: flex;
    flex-direction: column;    
    width: 100%;
    justify-content: center;
    align-items: start;
    height: 1000px;
  }

  .Contacts h2{
    font-size: 22px;
    border: none;
  }

  .box{
    background-color: rgb(255, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width: 100%;
    max-height: 250px; 
    padding: 10px;
  

   .box{

  }
  .Contacts-right{
    max-width: 100%;
    background-color: rgb(222, 219, 219);
    border: none;
    height: 600px;
    margin-top: 5px;
  }

  input[type='text']{
    max-width: 100%;
    height: 50px;
  }
  input[type='subject']{
    width: 100%;
    height: 50px;
  }

  .Contacts form{
    margin-top: 0%;
    max-width: 100%;
    height: 600px;
  }
  

} 

}